* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

header {
    background-color: rgb(24, 22, 41);
    padding: 20px 0;
}

header a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    transition: all .4s ease;
    margin: 0 20px;
}

header a:hover {
    color: #ccc;
}